<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">
            Terms & Conditions
        </h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non iaculis ligula, et viverra ligula. Nunc finibus ligula lorem, non vestibulum ex iaculis at. Integer id eros porttitor, dapibus urna in, suscipit tellus. Suspendisse aliquet auctor urna, eu sodales nisl viverra vitae. In at ligula enim. Nam id eleifend dolor, sollicitudin gravida lectus. 
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non iaculis ligula, et viverra ligula. Nunc finibus ligula lorem, non vestibulum ex iaculis at. Integer id eros porttitor, dapibus urna in, suscipit tellus. Suspendisse aliquet auctor urna, eu sodales nisl viverra vitae. In at ligula enim. Nam id eleifend dolor, sollicitudin gravida lectus. 
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non iaculis ligula, et viverra ligula. Nunc finibus ligula lorem, non vestibulum ex iaculis at. Integer id eros porttitor, dapibus urna in, suscipit tellus. Suspendisse aliquet auctor urna, eu sodales nisl viverra vitae. In at ligula enim. Nam id eleifend dolor, sollicitudin gravida lectus. 
            </p>
            <div class="text-center">
                <button class="btn btn-info btn-sm mt-4 backtohome">
                    Back to Home
                </button>
            </div>
        </div>
    </div>
</section>